@import "tailwindcss";

@theme {
  --color-mainColor: #EEECE9;
  --color-secondaryColor: #625548;
  --font-taylor: TaylorSwift;
  --font-taylorBold: TaylorSwift;
  --font-taylorSemiBold: TaylorSwift;
}


@font-face {
    font-family: TaylorSwift;
    src: url('/FontSwiftNormal.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: TaylorSwift;
    src: url('/FontSwiftBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TaylorSwift;
    src: url('/FontSwiftBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}